header{
    display: flex;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $dark-grey;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    h2{
        color: #fff;
        font-size: 18px;
        width: 30%;
        text-align: center;
    }
    h1{
        font-family: 'Architects Daughter', cursive;
        font-size: 24px;
        color: #fff;
        text-align: left;
        span{
            color: $dark-red;
        }
    }
    li{
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        color: #fff;
        user-select: none;
        cursor: pointer;
    }
}